@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap");

:root {
  /*tema dark*/
  --cor-dark-background: #121212;
  --cor-dark-cabecalho-borda: #000000;
  --cor-dark-fundo-topicos: #1c1c1c;
  --cor-dark-detalhes: #1e47c2;
  --cor-dark-fonte: #f6f6f6;

  /*tema light*/
  --cor-light-background: #FAFDFF;
  --cor-light-cabecalho-borda: #cccccc;
  --cor-light-fundo-topicos: #e1e1e1;
  --cor-light-detalhes: #7290E9;
  --cor-light-fonte: #0e0e0e;

  /*cores gradiente*/
  --cor-gradiente-nome1: #1e47c2;
  --cor-gradiente-nome2: #95abee;
  --cor-antigo: #4169e1;
  --cor-footer-borda: #214ed4;

  /*barra de rolagem e trilho*/
  --cor-scroll-dark-track: #1e1e1e;
  --cor-scroll-light-track: #ebebeb;
  --cor-dark-trilho: #4d4d4d;
  --cor-light-trilho: #c3c3c3;

  /*cores das bolhas*/
  --cor-dark-bolha1: #1e47c2;
  --cor-dark-bolha2: #5e8bdb;
  --cor-light-bolha1: #a1c6f7;
  --cor-light-bolha2: #2d5b9b;

  /*fontes*/
  --font-apresentacao-titulo: clamp(2.5rem, 7vw, 6.25rem);
  --font-apresentacao-subtitulo: clamp(1rem, 3vw, 1.875rem);
  --font-apresentacao-links: clamp(12px, 2vw, 18px);
  --font-projetos-titulo: clamp(24px, 4vw, 36px);
  --font-projetos-botoes: clamp(16px, 2vw, 20px);
  --font-contato-label: clamp(12px, 2vw, 18px);
  --font-rodape: clamp(14px, 2vw, 18px);
  --font-titulo: clamp(45px, 5vw, 80px);

  /*imagens e icones*/
  --icone-apresentacao: clamp(16px, 2.3vw, 25px);
  --imagem-sobre: clamp(200px, 30vw, 400px);
  --imagem-projetos: clamp(200px, 50vw, 570px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Josefin Sans", serif;
  background-color: var(--cor-dark-background);
  color: var(--cor-dark-fonte);
  min-height: 100vh;
  transition: 0.5s;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bolhas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.bolhas span {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #1e47c2;
  margin: 0 2px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #1e47c255, 0 0 20px #1e47c2, 0 0 50px #1e47c2;
  animation: animar calc(100s / var(--i)) linear infinite;
  z-index: -1;
}

@keyframes animar { 
  0% {
    transform: translateY(-10vh) scale(0.1);
    opacity: 0;
  }
  100% {
    transform: translateY(110vh) scale(0.5);
    opacity: 0.5;
  }
}

.bolhas span:nth-of-type(even) {
  background: #5e8bdb;
  box-shadow: 0 0 0 10px #5e8bdb88, 0 0 30px #5e8bdb, 0 0 60px #5e8bdb;
}

body.light .bolhas span {
  background: #a1c6f7;
  box-shadow: 0 0 0 10px #a1c6f744, 0 0 30px #a1c6f7, 0 0 60px #a1c6f7;
}

body.light .bolhas span:nth-of-type(even) {
  background: #2d5b9b;
  box-shadow: 0 0 0 10px #2d5b9b44, 0 0 30px #2d5b9b, 0 0 60px #2d5b9b;
}

strong {
  color: var(--cor-dark-detalhes);
}

body.light strong {
  color: var(--cor-light-detalhes);
}

#apresentacao,
#sobre,
#habilidades {
  scroll-margin-top: 240px;
}

#projetos {
  scroll-margin-top: 270px;
}

#contato {
  scroll-margin-top: 220px;
}

@media (max-width: 614px) {
  #apresentacao,
  #sobre,
  #projetos,
  #contato {
    scroll-margin-top: 280px;
  }
  #habilidades {
    scroll-margin-top: 350px;
  }
}

@media (max-width: 345px) {
  #apresentacao,
  #sobre {
    scroll-margin-top: 320px;
  }
  #habilidades {
    scroll-margin-top: 380px;
  }
  #projetos {
    scroll-margin-top: 330px;
  }
  #contato {
    scroll-margin-top: 300px;
  }
}

.cabecalho {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: var(--cor-dark-fundo-topicos);
  border-bottom: 1px solid var(--cor-dark-cabecalho-borda);
  box-shadow: 0 8px 1rem rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.cabecalho-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cabecalho-nav-inicio {
  display: flex;
  flex-direction: row;
  margin: 2rem 1rem 2rem 5rem;
  font-size: 1.25rem;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.cabecalho-nav-inicio a {
  position: relative;
  color: var(--cor-dark-fonte);
  text-decoration: none;
  transition: 0.5s;
}

.cabecalho-nav-links {
  margin-right: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cabecalho-nav-links a {
  margin: 1rem 1rem;
  color: var(--cor-dark-fonte);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

.cabecalho-nav-links a::after,
.cabecalho-nav-inicio a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--cor-dark-detalhes);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.cabecalho-nav-links a:hover::after,
.cabecalho-nav-inicio a:hover::after {
  width: 100%;
}

@media (max-width: 878px) {
  .cabecalho-nav {
    justify-content: center;
  }
  .cabecalho-nav-inicio {
    margin: 1.5rem 10rem 1.5rem 10rem;
  }
  .cabecalho-nav-links {
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .cabecalho-nav-inicio {
    margin: 1.5rem 5rem 1.5rem 5rem;
  }
}

.cabecalho-nav-links a:hover {
  color: var(--cor-dark-detalhes);
  transition: 0.2s;
  opacity: 0.8;
}

.cabecalho-nav-titulo a:hover {
  color: var(--cor-dark-detalhes);
  transition: 0.2s;
  opacity: 0.8;
}

.cabecalho-nav-inicio:hover {
  transform: scale(1.2);
}

#apresentacao {
  margin: 15rem 2rem 5rem 2rem;
  scroll-margin-top: 240px;
  display: flex;
  justify-content: center;
  height: 65vh;
  border-bottom: 2px solid var(--cor-dark-detalhes);
}

.apresentacao-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.apresentacao-div-nome {
  font-size: var(--font-apresentacao-titulo);
  font-weight: bold;
  text-align: center;
  background: linear-gradient(45deg, #1e47c2, #95abee);
  background-size: 400% 100%;
  animation: degrade 2s linear infinite alternate;
  background-clip: text;
  color: transparent;
}

@keyframes degrade {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.apresentacao-div-texto {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--font-apresentacao-subtitulo);
}

.apresentacao-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.apresentacao-links a {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.apresentacao-links-github img,
.apresentacao-links-linkedin img,
.apresentacao-links-curriculo img {
  width: var(--icone-apresentacao);
  vertical-align: middle;
}

.apresentacao-links-github,
.apresentacao-links-linkedin,
.apresentacao-links-curriculo {
  display: inline-flex;
  padding: 8px;
  gap: 8px;
  text-align: center;
  font-size: var(--font-apresentacao-links);
  color: var(--cor-dark-fonte);
  background-color: transparent;
  border: 3px solid var(--cor-dark-detalhes);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.5s;
}

.apresentacao-links-github span,
.apresentacao-links-linkedin span,
.apresentacao-links-curriculo span {
  display: block;
  margin-top: 0.3rem;
}

.apresentacao-links a:hover {
  color: var(--cor-dark-detalhes);
  transition: 0.2s;
  opacity: 0.9;
  transform: scale(1.1);
}
/*
@media (max-width: 614px) {
  #sobre {
    scroll-margin-top: 250px;
  }
  #habilidades {
    scroll-margin-top: 500px;
  }
}
  */

.sobre-titulo {
  display: inline-block;
  margin: 1rem 0rem 0rem 4rem;
  font-size: var(--font-titulo);
  border-bottom: 5px solid var(--cor-dark-detalhes);
  text-shadow: 2px 6px 16px rgba(0, 0, 0, 0.5);
}

#sobre {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem 5rem 0rem;
  border-bottom: 2px solid var(--cor-dark-detalhes);
  height: 65vh;
}

.sobre-conteudo {
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: justify;
  align-items: center;
  gap: 5rem;
}

.sobre-imagem {
  width: var(--imagem-sobre);
  border-radius: 25px;
  padding: 5px;
  border: 3px solid var(--cor-dark-detalhes);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.sobre-div-texto {
  font-size: var(--font-apresentacao-links);
  text-align: justify;
  line-height: 1.5;
  flex-wrap: wrap;
}

@media (max-width: 878px) {
  #sobre {
    height: 80%;
    margin-left: 0rem;
  }
  .sobre-conteudo {
    display: flex;
    flex-direction: column;
  }
  .sobre-titulo {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
    border: none;
  }
}

.habilidades-titulo {
  display: inline-block;
  margin: 1rem 0rem 0rem 4rem;
  font-size: var(--font-titulo);
  border-bottom: 5px solid var(--cor-dark-detalhes);
  text-shadow: 2px 6px 16px rgba(0, 0, 0, 0.5);
}

@media (max-width: 878px) {
  .habilidades-titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    border: none;
    flex-wrap: wrap;
  }
}

#habilidades {
  margin: 3rem 2rem 5rem 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom: 2px solid var(--cor-dark-detalhes);
  padding-bottom: 3rem;
}

.habilidades-frontend,
.habilidades-backend,
.habilidades-frameworks {
  background-color: var(--cor-dark-fundo-topicos);
  width: 350px;
  height: 450px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: 0.5s;
  position: relative;
}

.habilidades-frontend-titulo,
.habilidades-backend-titulo,
.habilidades-frameworks-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 5px solid var(--cor-dark-detalhes);
}

.habilidades-frontend-titulo h2,
.habilidades-backend-titulo h2,
.habilidades-frameworks-titulo h2 {
  margin-top: 0.5rem;
  font-size: 30px;
}

.habilidades-frontend ul,
.habilidades-backend ul,
.habilidades-frameworks ul {
  list-style: none;
}

.habilidades-frontend ul li,
.habilidades-backend ul li,
.habilidades-frameworks ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 2px solid var(--cor-dark-cabecalho-borda);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  gap: 0.3rem;
  transition: transform 0.2s ease;
}

.habilidades-frontend ul li span,
.habilidades-backend ul li span,
.habilidades-frameworks ul li span {
  padding-top: 2.5px;
}

.habilidades-frontend ul li img,
.habilidades-backend ul li img,
.habilidades-frameworks ul li img {
  width: 20px;
}

ul li:last-child {
  margin-bottom: 0;
}

.habilidades-frontend ul li:hover,
.habilidades-backend ul li:hover,
.habilidades-frameworks ul li:hover {
  background-color: var(--cor-dark-detalhes);
  border: 2px solid var(--cor-dark-background);
  border-radius: 2px;
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.projetos-titulo {
  margin: 0rem 0rem 2rem 4rem;
  display: inline-block;
  font-size: var(--font-titulo);
  border-bottom: 5px solid var(--cor-dark-detalhes);
  text-shadow: 2px 6px 16px rgba(0, 0, 0, 0.5);
}

@media (max-width: 878px) {
  .projetos-titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    border: none;
  }
}

#projetos {
  margin: 3rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  border-bottom: 2px solid var(--cor-dark-detalhes);
  padding-bottom: 3rem;
}

.projetos-div {
  background-color: var(--cor-dark-fundo-topicos);
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: 0.5s;
}

.projetos-div img {
  width: var(--imagem-projetos);
  max-width: 100%;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
}

.projetos-div img:hover {
  transform: scale(1.1);
}

.projetos-div-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-left: 2px solid var(--cor-dark-detalhes);
  max-width: 100%;
  text-align: justify;
  overflow: hidden;
}

.projetos-div-conteudo h2 {
  font-size: var(--font-projetos-titulo);
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.projetos-div-conteudo p {
  text-align: justify;
  font-size: 16px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.projetos-div-tecnologias,
.projetos-div-links {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
}

.projetos-div-links {
  margin-bottom: 1.5rem;
}

.projetos-div-tecnologias {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projetos-div-tecnologias span {
  font-size: 14px;
  border: 2px solid var(--cor-dark-fonte);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
}

.projetos-div-tecnologias span:hover {
  transform: scale(1.1);
}

.projetos-div-links {
  font-size: var(--font-projetos-botoes);
  justify-content: center;
  gap: 2rem;
}

.projetos-div-links a {
  border: 2px solid var(--cor-dark-detalhes);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: var(--cor-dark-fonte);
  transition: 0.2s ease;
}

.projetos-div-links a:hover {
  color: var(--cor-dark-detalhes);
  opacity: 0.8;
}

@media (max-width: 878px) {
  .projetos-div {
    flex-direction: column;
    text-align: center;
  }
  .projetos-div img {
    width: 100%;
  }
  .projetos-div-conteudo {
    border-left: none;
    text-align: center;
    padding: 0 1rem;
  }
  .projetos-div-conteudo p {
    font-size: 14px;
    margin: 0;
  }
  .projetos-div-tecnologias,
  .projetos-div-links {
    margin: 0;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  .projetos-div-links {
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 480px) {
  .projetos-div-conteudo p {
    font-size: 12px;
  }
  .projetos-div-tecnologias span {
    font-size: 10px;
    padding: 0.2rem;
  }
  .projetos-div-links {
    gap: 0.1rem;
  }
  .projetos-div-links a {
    padding: 0.5rem;
    font-size: 16px;
    margin: 1rem;
  }
}

@media (max-width: 410px) {
  .projetos-div-links {
    gap: 0rem;
  }
  .projetos-div-links a {
    padding: 0.5rem;
    font-size: 14px;
    margin: 0.3rem;
  }
}

.contato-titulo {
  display: inline-block;
  margin: 1rem 0rem 1rem 4rem;
  font-size: var(--font-titulo);
  border-bottom: 5px solid var(--cor-dark-detalhes);
  text-shadow: 2px 6px 16px rgba(0, 0, 0, 0.5);
}

@media (max-width: 878px) {
  .contato-titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    border: none;
  }
}

#contato {
  margin: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contato-form {
  background-color: var(--cor-dark-fundo-topicos);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  font-size: 16px;
  border-radius: 8px;
  margin: 1;
}

.contato-form label {
  font-size: var(--font-contato-label);
  margin-bottom: 0.1rem;
}

.contato-form input,
.contato-form textarea {
  width: 100%;
  font-size: 16px;
  padding: 0.8rem;
  background-color: var(--cor-dark-fonte);
  border-radius: 5px;
  margin-bottom: 0.8rem;
}

@media (max-width: 878px) {
  .contato-form input {
    height: 40px;
  }
}

.contato-form textarea {
  height: 100px;
  resize: none;
}

.contato-botao {
  display: block;
  padding: 1rem;
  cursor: pointer;
  border: 5px;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s ease;
}

.contato-botao:hover {
  background-color: var(--cor-dark-detalhes);
  color: var(--cor-dark-fonte);
  opacity: 0.7;
}

.rodape {
  background-color: var(--cor-dark-detalhes);
  color: var(--cor-dark-cabecalho-borda);
  max-width: 100%;
  width: 100%;
  text-align: center;
  font-size: var(--font-rodape);
  padding: 2% 2% 0% 2%;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--cor-footer-borda);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.4);
  padding-top: 2rem;
}

.rodape-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
}

.rodape-links ul {
  margin: 15px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10rem;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}

.rodape-links ul li {
  transition: 0.5s ease;
}

.rodape ul li a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--font-rodape);
}

.rodape-redes-sociais {
  margin: 1rem;
  text-align: center;
  align-items: center;
}

.rodape-redes-sociais {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--cor-dark-background);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.rodape-direitos {
  padding-bottom: 10px;
}

.rodape-direitos span img {
  vertical-align: sub;
  width: 25px;
  padding-right: 6px;
}

.rodape-redes-sociais a {
  color: var(--font-rodape);
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  transition: all 0.5s ease-in-out;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.rodape-redes-sociais a span{
  align-items: center;
  vertical-align: bottom;
}

.rodape-redes-sociais a img, .rodape-direitos p img {
  width: 25px;
  transition: 0.2s ease-in-out;
  margin-right: 8px;
  vertical-align: middle;
  align-items: center;
}

@media(max-width: 1114px) {
  .rodape-links ul {
    flex-direction: column;
    gap: 1rem;
  }

  .rodape-links {
    justify-content: center;
  }

  .rodape-redes-sociais a {
    margin: 10px;
  }
  .rodape-links ul {
    padding-bottom: 10px;
  }
}

.rodape-links ul li:hover {
  transform: scale(1.1);
  font-weight: 500;
}

.rodape-redes-sociais a:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--cor-scroll-track);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor-dark-detalhes);
  transition: 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--cor-gradiente-nome2);
}

.trilho {
  width: 50px;
  height: 20px;
  margin: 1rem;
  background-color: var(--cor-light-trilho);
  border-radius: 150px;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}

.trilho .indicador {
  width: 20px;
  height: 20px;
  background-color: var(--cor-dark-background);
  border-radius: 50%;
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.trilho.light {
  background-color: var(--cor-light-trilho);
}

.trilho.light .indicador {
  left: 29px;
  background-color: var(--cor-light-background);
}

.indicador:hover {
  background-color: var(--cor-dark-detalhes);
}

body.light {
  background-color: var(--cor-light-background);
  color: var(--cor-light-fonte);
}

body.light .cabecalho {
  background-color: var(--cor-light-fundo-topicos);
  border-bottom: 3px solid var(--cor-light-cabecalho-borda);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
}

body.light .cabecalho-nav-inicio a {
  color: var(--cor-light-fonte);
}

body.light .cabecalho-nav-inicio a:hover {
  color: var(--cor-light-detalhes);
}

body.light .cabecalho-nav-links a {
  color: var(--cor-light-fonte);
}

body.light .cabecalho-nav-links a:hover {
  color: var(--cor-light-detalhes);
}

body.light .cabecalho-nav-links a::after {
  background-color: var(--cor-light-detalhes);
}

body.light .apresentacao-links-github,
body.light .apresentacao-links-linkedin,
body.light .apresentacao-links-curriculo {
  color: var(--cor-light-fonte);
}

body.light .apresentacao-links-github img {
  content: url(/src/assets/images/github.png);
}

body.light .apresentacao-links-linkedin img {
  content: url(/src/assets/images/linkedin.png);
}

body.light .apresentacao-links-curriculo img {
  content: url(/src/assets/images/download.png);
}

body.light .apresentacao-links a {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

body.light .sobre-imagem {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

body.light .habilidades-frontend,
body.light .habilidades-backend,
body.light .habilidades-frameworks {
  background-color: var(--cor-light-fundo-topicos);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}

body.light .habilidades-frontend ul li,
body.light .habilidades-backend ul li,
body.light .habilidades-frameworks ul li {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}

body.light .habilidades-backend ul li:last-child img {
  content: url(/src/assets/images/sql.png);
  width: 20px;
}

body.light .projetos-div {
  background-color: var(--cor-light-fundo-topicos);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}

body.light .projetos-div-tecnologias span {
  border: 2px solid var(--cor-dark-background);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

body.light .projetos-div-links a {
  color: var(--cor-light-fonte);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

body.light .projetos-div-links a:hover {
  color: var(--cor-light-detalhes);
  transition: 0.2s;
  opacity: 0.4;
}

body.light .contato-form {
  background-color: var(--cor-light-fundo-topicos);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}

body.light .contato-form input,
body.light .contato-form textarea {
  color: var(--cor-light-fonte);
}

body.light .contato-botao {
  color: var(--cor-light-background);
  background-color: var(--cor-light-fonte);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

body.light .contato-botao:hover {
  background-color: var(--cor-light-detalhes);
  color: var(--cor-dark-fonte);
}

.apresentacao-div-nome,
.apresentacao-div-texto,
.apresentacao-links,
.sobre-imagem,
.sobre-div-texto,
.habilidades-backend,
.habilidades-frameworks,
.habilidades-frontend,
.efeito-projeto1,
.efeito-projeto2,
.efeito-projeto3,
.contato-form {
  visibility: hidden;
}

body.light::-webkit-scrollbar-track {
  background-color: var(--cor-scroll-light-track);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

body.light::-webkit-scrollbar-thumb {
  background: var(--cor-dark-detalhes);
}

.success,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 15px;
}