@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

:root {
    --cor-background: #121212;
    --cor-cabecalho-borda: #000000;
    --cor-fundo-topicos: #1C1C1C;
    --cor-detalhes: #4169E1;
    --cor-fonte: #F6F6F6;

    --font-apresentacao-titulo: clamp(2.5rem, 7vw, 6.25rem);
    --font-apresentacao-subtitulo: clamp(1rem, 3vw, 1.875rem);
    --font-apresentacao-links: clamp(16px, 2vw, 20px);
    --icone-apresentacao: clamp(16px, 2.3vw, 25px);
    --imagem-sobre: clamp(200px, 30vw, 400px);
    --imagem-projetos: clamp(200px, 50vw, 570px);
    --font-projetos-titulo: clamp(24px, 4vw, 36px);
    --font-projetos-botoes: clamp(16px, 2vw, 20px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', serif;
    background-color: var(--cor-background);
    color: var(--cor-fonte);
    min-height: 100vh;
}

.cabecalho {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: var(--cor-fundo-topicos);
    border-bottom: 3px solid var(--cor-cabecalho-borda);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
}

.cabecalho-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-nav-inicio {
    display: flex;
    flex-direction: row;
    margin: 2rem 0rem 2rem 5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.cabecalho-nav-links {
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cabecalho-nav-links a {
    margin: 1rem 1rem;
    color: var(--cor-fonte);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 789px) { 
    .cabecalho-nav {
        justify-content: center;
    }   
    .cabecalho-nav-inicio {
        margin: 1.5rem 5rem 1.5rem 5rem;
    }
    .cabecalho-nav-links {
        margin-right: 0;
    }
}

.cabecalho-nav-links a:hover {
    color: var(--cor-detalhes);
    transition: 0.2s;
    opacity: 0.8;
}

.cabecalho-nav-span:hover {
    color: var(--cor-detalhes);
    transition: 0.2s;
    opacity: 0.8;
}

.cabecalho-nav-inicio:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

#apresentacao {
    margin: 15rem 2rem 0rem 2rem;
    margin-top: 15rem;
    padding-bottom: 15rem;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--cor-detalhes);
    scroll-margin-top: 300px;
}

.apresentacao-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.apresentacao-div-nome {
    font-size: var(--font-apresentacao-titulo);
    font-weight: bold;
    text-align: center;
    background: linear-gradient(45deg, #4169E1, #edeef0);
    background-size: 400% 100%;
    animation: degrade 2s linear infinite alternate;
    background-clip: text;
    color: transparent;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position: 100%;
    }
}
.apresentacao-div-texto {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--font-apresentacao-subtitulo);
}

.apresentacao-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.apresentacao-links-github img, .apresentacao-links-linkedin img {
    width: var(--icone-apresentacao);
    vertical-align: middle;
}

.apresentacao-links-github, .apresentacao-links-linkedin {
    display: inline-flex;
    padding: 8px;
    gap: 8px;
    text-align: center;
    font-size: var(--font-apresentacao-links);
    color: var(--cor-fonte);
    background-color: transparent;
    border: 3px solid var(--cor-detalhes);
    border-radius: 8px;
    text-decoration: none;
}

.apresentacao-links-github span, .apresentacao-links-linkedin span {
    display: block;
    margin-top: 0.3rem;
}

.apresentacao-links a:hover{
    color: #4169E1;
    transition: 0.2s;
    opacity: 0.9;
}

#sobre {
    margin: 5rem 2rem 5rem 2rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid #4169E1;
    gap: 2rem;
    scroll-margin-top: 120px;
}

.sobre-titulo {
    display: inline-block;
    margin: 1rem 0rem 1rem 2rem;
    font-size: var(--font-apresentacao-titulo);
    border-bottom: 5px solid #4169E1;
}

.sobre-conteudo {
    margin: 2rem 2rem;
    display: inline-flex;
    justify-content: center;
    gap: 2rem;
    align-items:center;
}

.sobre-imagem {
    width: var(--imagem-sobre);
    border-radius: 25px;
    padding: 5px;
    border: 3px solid #4169E1;
}


.sobre-div-texto {
    font-size: var(--font-apresentacao-links);
    text-align: justify;
    line-height: 1.5;
    flex-wrap: wrap;
}

@media (max-width: 789px) {
    .sobre-conteudo {
        display: flex;
        flex-direction: column;
    }
    .sobre-titulo {
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem 1rem 0rem;
        text-align: center;
        border: none;
    }
}

.habilidades-titulo {
    display: inline-block;
    margin: 1rem 0rem 1rem 4rem;
    font-size: var(--font-apresentacao-titulo);
    border-bottom: 5px solid #4169E1;
}

@media (max-width: 789px) {
    .habilidades-titulo {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 1rem 0rem 1rem 0rem;
        border: none;
        flex-wrap: wrap;
    }
}

#habilidades {
    margin: 2rem 2rem 5rem 2rem;
    scroll-margin-top: 280px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    border-bottom: 2px solid #4169E1;
    padding-bottom: 3rem;
}

.habilidades-frontend, .habilidades-backend, .habilidades-frameworks {
    background-color: #1C1C1C;
    width: 300px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.habilidades-frontend-titulo, .habilidades-backend-titulo, .habilidades-frameworks-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 5px solid #4169E1;
}

.habilidades-frontend-titulo h2, .habilidades-backend-titulo h2, .habilidades-frameworks-titulo h2 {
    margin-top: 0.5rem;
    font-size: 30px;
}

.habilidades-frontend ul, .habilidades-backend ul, .habilidades-frameworks ul {
    list-style: none;
}

.habilidades-frontend ul li, .habilidades-backend ul li, .habilidades-frameworks ul li {
    padding: 1rem;
    border: 2px solid #000000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.projetos-titulo {
    margin: 1rem 0rem 1rem 4rem;
    display: inline-block;
    font-size: var(--font-apresentacao-titulo);
    border-bottom: 5px solid #4169E1;
}

@media (max-width: 789px) {
    .projetos-titulo {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 1rem 0rem 1rem 0rem;
        border: none;
    }
}

#projetos {
    margin: 2rem 2rem 5rem 2rem;
    scroll-margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    border-bottom: 2px solid #4169E1;
    padding-bottom: 3rem;
}

.projetos-div {
    background-color: var(--cor-fundo-topicos);
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    gap: 2Rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.projetos-div img {
    width: var(--imagem-projetos);
    max-width: 100%;
    border-radius: 8px;
}

.projetos-div-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-left: 2px solid #4169E1;
    max-width: 100%;
    text-align: justify;
    overflow: hidden;
}

.projetos-div-conteudo h2 {
    font-size: var(--font-projetos-titulo);
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.projetos-div-conteudo p {
    text-align: justify;
    font-size: 16px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.projetos-div-tecnologias, .projetos-div-links {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.projetos-div-tecnologias {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.projetos-div-tecnologias span {
    font-size: 14px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.projetos-div-links {   
    font-size: var(--font-projetos-botoes);
    justify-content: center;
    gap: 2rem;
}

.projetos-div-links a {
    border: 2px solid #4169E1;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
}

.projetos-div-links a:hover {
    color: #4169E1;
    transition: 0.2s;
    opacity: 0.5;
}

@media (max-width: 789px) {
    .projetos-div {
        flex-direction: column;
        text-align: center;
    }
    .projetos-div img {
        width: 100%;
    }
    .projetos-div-conteudo {
        border-left: none;
        text-align: center;
        padding: 0 1rem;
    }
    .projetos-div-conteudo p {
        font-size: 14px;
        margin: 0;
    }
    .projetos-div-tecnologias, .projetos-div-links {
        margin: 0;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
    .projetos-div-links {
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .projetos-div-conteudo p {
        font-size: 12px;
    }
    .projetos-div-tecnologias span {
        font-size: 10px;
        padding: 0.2rem;
    }
    .projetos-div-links a {
        padding: 0.5rem;
        font-size: 16px;
    }
}

.contato-titulo {
    margin: 0rem 63rem 4rem 12rem;
    font-size: 80px;
    border-bottom: 5px solid #4169E1;
}

#contato {
    margin: 5rem 10rem 5rem 10rem;
    scroll-margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.contato-form {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    padding: 3rem;
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    border-radius: 8px;
    margin: 1;
}

.contato-form label {
    font-size: 18px;
    margin-bottom: 0.1rem;
}

.contato-form input, .contato-form textarea {
    width: 100%;
    max-width: 470px;
    font-size: 16px;
    padding: 0.8rem;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 0.8rem;
}

.contato-form textarea {
    height: 100px;
    resize: none;
}

.contato-form-botao {
    display: block;
    padding: 1rem;
    margin-right: 0.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.contato-form-botao:hover {
    background-color: #4169E1;
    color: white;
    transition: 0.2s;
    opacity: 0.7;
}

.rodape {
    background-color: #4169E1;
    color: #000000;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 2% 2%;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border-top: 2px solid #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.rodape img {
    width: 18px;
    height: auto;
    margin-bottom: 0.3rem;
}