@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', serif;
}

body {
    background-color: #121212;
    color: #F6F6F6;
}

.cabecalho {
    position: fixed;
    width: 100vw;
    background-color: #1C1C1C;
    padding: 1% 5% 1% 5%;
    border-bottom: 2px solid #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
}

.cabecalho-nav {
    display: flex;
    align-items: center;
    /* 400 - 25rem */
}

.cabecalho-nav-inicio {
    padding: 1% 10% 1% 5%;
    display: inline-flex;
    align-items: center;
    gap: 0.1rem;
    border-right: 5px solid #4169E1;
}

.cabecalho-nav-links {
    display: inline-flex;
    padding: 1% 10.5% 1% 10%;
    gap: 4rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

#cabecalho-home, #cabecalho-sobre, #cabecalho-habilidades, #cabecalho-projetos, #cabecalho-contatos {
    text-decoration: none;
    color: white;
}

#cabecalho-home:hover, #cabecalho-sobre:hover, #cabecalho-habilidades:hover, #cabecalho-projetos:hover, #cabecalho-contatos:hover {
    color: #4169E1;
    transition: 0.2s;
    opacity: 0,7;
}

.cabecalho-trocarCor {
    background-color: transparent;
}

#apresentacao {
    margin: 0rem 10rem 1rem 10rem;
    display: flex;
    justify-content: center;
    padding: 17% 3% 17% 3%;
    border-bottom: 2px solid #4169E1;
}

.apresentacao-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.apresentacao-div-nome {
    font-size: 80px;
    font-weight: bold;
    color: #4169E1;
    border-bottom: 5px solid #4169E1;
}

.apresentacao-div-texto {
    display: flex;
    justify-content: center;
    padding-left: 0.3rem;
    font-size: 30px;
}

.apresentacao-botoes {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.apresentacao-botoes-github img, .apresentacao-botoes-linkedin img {
    width: 25px;
    vertical-align: middle;
}

.apresentacao-botoes-github, .apresentacao-botoes-linkedin {
    display: inline-flex;
    padding: 2%;
    gap: 0.5rem;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 3px solid #4169E1;
    border-radius: 8px;
    text-decoration: none;
}

.apresentacao-botoes-github span, .apresentacao-botoes-linkedin span {
    display: block;
    margin-top: 6px;
}

.apresentacao-botoes-github:hover, .apresentacao-botoes-linkedin:hover {
    color: #4169E1;
    transition: 0.2s;
    opacity: 0.9;
}

html {
    scroll-behavior: smooth;
}

#sobre-mim {
    margin: 0rem 10rem 1rem 10rem;
    scroll-margin-top: 100px;
    padding-top: 10rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
    gap: 18rem;
    border-bottom: 2px solid #4169E1;
}

.sobre-div-titulo {
    font-size: 80px;
    border-bottom: 5px solid #4169E1;
    margin: 1rem;
}

.sobre-div-texto {
    margin: 1rem;
    font-size: 20px;
    text-align: justify;
}

.sobre-imagem {
    width: 25rem;
    border-radius: 25px;
    padding: 10px;
    border: 3px solid #4169E1;
}

.habilidades-titulo {
    margin: 0rem 32rem 4rem 12rem;
    font-size: 80px;
    border-bottom: 5px solid #4169E1;
}

#habilidades {
    margin: 0rem 10rem 1rem 10rem;
    scroll-margin-top: 270px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    border-bottom: 2px solid #4169E1;
    padding-bottom: 3rem;
}

.habilidades-frontend, .habilidades-backend, .habilidades-frameworks {
    background-color: #1C1C1C;
    width: 300px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.habilidades-frontend-titulo, .habilidades-backend-titulo, .habilidades-frameworks-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 5px solid #4169E1;
}

.habilidades-frontend-titulo h2, .habilidades-backend-titulo h2, .habilidades-frameworks-titulo h2 {
    margin-top: 0.5rem;
    font-size: 30px;
}

.habilidades-frontend ul, .habilidades-backend ul, .habilidades-frameworks ul {
    list-style: none;
}

.habilidades-frontend ul li, .habilidades-backend ul li, .habilidades-frameworks ul li {
    padding: 1rem;
    border: 2px solid #000000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.projetos-titulo {
    margin: 0rem 63rem 4rem 12rem;
    font-size: 80px;
    border-bottom: 5px solid #4169E1;
}

#projetos {
    margin: 0rem 10rem 1rem 10rem;
    scroll-margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    border-bottom: 2px solid #4169E1;
    padding-bottom: 3rem;
}

.projetos-div {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    gap: 5rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-align:center;
}

.projetos-div img {
    width: 570px;
    max-width: 100%;
    border-radius: 8px;
}

.projetos-div-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
    border-left: 2px solid #4169E1;
    max-width: 100%;
    text-align: justify;
}

.projetos-div-conteudo h2 {
    font-size: 36px;
    text-align: center;
    padding-right: 2rem;
    padding-left: 5rem;
}

.projetos-div-conteudo p {
    text-align: justify;
    font-size: 16px;
    margin: 0;
    padding-left: 5rem;
    padding-right: 2rem;
}

.projetos-div-tecnologias, .projetos-div-links {
    padding-left: 4.5rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.projetos-div-tecnologias span {
    margin-left: 0.5rem;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.projetos-div-links {
    padding-top: 3rem;
    justify-content: center;
    gap: 5rem;
}

.projetos-div-links a {
    border: 2px solid #4169E1;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
}

.projetos-div-links a:hover {
    color: #4169E1;
    transition: 0.2s;
    opacity: 0.5;
}

.contato-titulo {
    margin: 0rem 63rem 4rem 12rem;
    font-size: 80px;
    border-bottom: 5px solid #4169E1;
}

#contato {
    margin: 5rem 10rem 5rem 10rem;
    scroll-margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.contato-div {
    font-size: 16px;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    background-color: #1C1C1C;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.contato-combo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.contato-combo label {
    font-size: 18px;
    margin-bottom: 0.1rem;
}

.contato-combo input, .contato-combo textarea {
    width: 100%;
    font-size: 16px;
    padding: 0.8rem;
    background-color: white; /* PROCUAR UMA COR MASSA */
    border-radius: 5px;
}

.contato-combo textarea {
    height: 100px;
    resize: none;
}

.contato-botao {
    font-size: 18px;
    padding: 1rem 5rem;
    border: none;
    border-radius: 5px;
    background-color: #4169E1;
    color: white;
    display: block;
    margin: 1rem auto;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    
}

.contato-botao:hover {
    background-color: white;
    color: #000000;
    transition: 0.2s;
    opacity: 0.7;
}

.rodape {
    background-color: #4169E1;
    color: #000000;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 2% 2%;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border-top: 2px solid #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.rodape img {
    width: 18px;
    height: auto;
    margin-bottom: 0.3rem;
}